<div class="row text-center">
    <div class="col-md-6 offset-2">
        <h1 class="text-info">BULUNAMADI</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Personel" asp-action="Index">Personeller Sayfasına Dön</a>
        <a class="btn btn-outline-success" asp-controller="Urun" asp-action="Index">Ürünler Sayfasına Dön</a>
    </div>
</div>