@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center align-middle">
    <div class="py-2 align-middle">
        <h1 class="display-4">HOŞ GELDİNİZ</h1>
    </div>
    <div class="py-2 align-middle">
        <img src="https://upload.wikimedia.org/wikipedia/tr/d/d5/Adalet_ve_Kalkınma_Partisi_logo.png?20230524164837" />
    </div>
    <div class="py-2 align-middle">
        <p style="py-5"><b style="py-5">SEÇİM İŞLERİ BAŞKANLIĞI</b></p>
        <p>Personel Zimmet Bilgileri</p>
    </div>
</div>
